<% content_for :title, "Editing recipe" %>

<h1>Editing recipe</h1>

<%= render "form", recipe: @recipe %>

<br>

<div>
  <%= link_to "Show this recipe", @recipe, class:"btn" %>
  <%= link_to "Back to recipes", recipes_path, class: "btn" %>
</div>
